.GameOver{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 40vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: z-index 0.2s ease-out;
}
.GameOver-title{
    color: #e4a0f4;
    font-size: 3rem;
    text-align:center;
}