.Status{
    position: fixed;
    bottom: 5px;
    display: flex;
    justify-content: center;
    background-color: rgba(22, 23, 23, 0.4);
    color:rgb(171, 173, 175);
    width:100%;
}
.Status-text{
    font-family: sans-serif;
    padding: 0.5em 1em;
}